<a href="https://colab.research.google.com/github/ajaism/ALma-/blob/master/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u> Use only those concepts which have been taught till now </u>

In [1]:
import numpy as np
import pandas as pd

# <u>**Problem 1**</u>

### You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with. 

### For example, https://www.example.com/market.php -- In this example, domain name is <code>www.example.com</code> and the ending string is <code>php</code>

In [4]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.almabetter.com/enrollments',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [8]:
url_list[0].split('//')[-1].split('/')[0]

'blog.hubspot.com'

In [12]:
# Extract the domains and the ending string. Hint : use the split method for a string

domain_list = []
for elem in url_list:
  domain_list.append(elem.split('//')[-1].split('/')[0])
print(domain_list)

ending_string_list =[]
for elem in url_list:
  ending_string_list.append(elem.split('//')[-1].split('/')[-1].split('-')[-1].split('.')[-1])
print(ending_string_list)

['blog.hubspot.com', 'www.almabetter.com', 'pandas.pydata.org', 'www.programiz.com']
['url', 'enrollments', 'html', 'list']

## Next create a pandas dataframe with the above three lists.

In [14]:
# Your code here. Hint : zip the three lists

df=pd.DataFrame(zip(domain_list,ending_string_list),columns=['Domain','End Tags'])
df

               Domain     End Tags
0    blog.hubspot.com          url
1  www.almabetter.com  enrollments
2   pandas.pydata.org         html
3   www.programiz.com         list